<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="com.maserplay.appai.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moveto"
        tools:targetApi="31">
        <service
            android:name="com.maserplay.appai.sync.SyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="com.maserplay.appai.login.activity.LoginVerifyMailActivity"
            android:exported="false"
            android:label="@string/login_login"
            android:parentActivityName="com.maserplay.appai.login.activity.LoginActivity" />
        <activity
            android:name="com.maserplay.appai.login.activity.LoginVerifyActivity"
            android:exported="false"
            android:label="@string/login_login"
            android:parentActivityName="com.maserplay.appai.login.activity.LoginActivity" />
        <activity
            android:name="com.maserplay.appai.login.activity.LoginActivity"
            android:exported="false"
            android:label="@string/login_login"
            android:parentActivityName="com.maserplay.appai.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.maserplay.appai.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.maserplay.appai.MainActivity" />

        <service
            android:name="com.maserplay.appai.login.AuthService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth" />
        </service>

        <activity
            android:name="com.maserplay.appai.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.maserplay.appai.sync.SyncProvider"
            android:authorities="com.maserplay.chtgpt.sync.provider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>